*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFDF7;
}

@font-face {
    font-family: "Bebas-Neue";
    src: url("/Open Classroom/OCR-Easy-Go/font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("/Open Classroom/OCR-Easy-Go/font/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/Open Classroom/OCR-Easy-Go/font/Montserrat-Regular.ttf");
}

header{
    width: 100%;
}

.topHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em; 
}

header img{
    width: 977px;
    height: 415px;
}

h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.2em;
}

h1 span{
    position: absolute;
    padding-left: 3em;

}

h2{
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
}

ul{
    width: 1060px;
    height: 50px;
    background: #39A8ED;
    border-radius: 12px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color:white;
    padding-left: 1em;
    padding-right: 1em;
}

li:hover{
    background-color:#010e16ac;
    border-radius: 30px; 
}

a{
    text-decoration: none; 
}

a:visited{
    color: white;
}

section{
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    gap: 3em;
    padding: 7em 3em 7em 3em;
}

section img{
    justify-self: center;
    align-self: center;
    transition: all 1s;
}

section img:hover{
    transform: scale(1.3);
}

footer{
    width: 100%;
    height: 46px;
    background: #4B4B4B;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer p{
   
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color : white;
    padding-right: 2em;
}


@media all and (max-width: 1400px){

    body{
        width: auto;
    }

    .topHeader{
        flex-direction: column;

    }
    .title{
        position: absolute;
    }

    header img{
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

    ul{
        gap:0em;
    }

    li{
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media all and (max-width: 660px){

    li{
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
    
}
